ENABLE_SPOTIFY_LIKED_SYNC=false
ENABLE_SOUNDCLOUD_SYNC=false
ENABLE_YOUTUBE_SYNC=false
ENABLE_IPOD_SYNC=true
ENABLE_SFTP_SYNC=false

SPOTIFY_PLAYLIST_NAME="Liked Songs (Mirror)"

SOUNDCLOUD_LIKES_URL="https://soundcloud.com/username/likes" # This can also be a playlist URL
YOUTUBE_PLAYLIST_URL="https://www.youtube.com/playlist?list=XXXXXXXX"

OUTPUT_FOLDER="/media/username/Music/Sync"

IPOD_OUT="/mnt/iPod/Sync/"

SFTP_HOST="example.com"
SFTP_USER="username"
SFTP_DIR="/path/to/remote/sync/"
SFTP_PORT=22
SFTP_PASS="password"

SPOTIFY_REDIRECT_URI="http://127.0.0.1:9090"
SPOTIFY_SCOPES="user-library-read playlist-modify-private playlist-modify-public playlist-read-private"
SPOTIFY_CLIENT_ID=""
SPOTIFY_CLIENT_SECRET=""
SPOTIFY_REFRESH_TOKEN=""